@model DummyJSONRestAPI.Models.ProductsModel
@{
    ViewData["Title"] = "GetProductSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Aranan Ürün Türü</h1>
<table class="table table-bordred">
    <tr>
        <th> # </th>
        <th> Title </th>
        <th> Description </th>
        <th> Price </th>
        <th> DiscountPercentage </th>
        <th> Rating </th>
        <th> Stock </th>
        <th> Brand </th>
        <th> Category </th>
        <th> Thumbnail </th>
        <th> Images </th>
    </tr>
    @foreach (var item in Model.Products)
    {
        <tr>
            <th> @item.Id </th>
            <td> @item.Title </td>
            <td> @item.Description </td>
            <td> @item.Price </td>
            <td> @item.DiscountPercentage </td>
            <td> @item.Rating </td>
            <td> @item.Stock </td>
            <td> @item.Brand </td>
            <td> @item.Category </td>
            <td> @item.Thumbnail </td>
            <td> @item.Images </td>
        </tr>
    }
</table>


